.button{
    text-decoration: none;
    margin: 30px;
    display: inline-block;
    background-color: steelblue;
    padding: 1em 3em;
    color: white;

    outline: 3px solid steelblue;

    transition: all ease-in-out 700ms;

}
.button:hover{
    outline: 3px solid steelblue;
    outline-offset: 5px;
}